*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    font-family:Roboto, sans-serif;
}

nav{
    height: 90px;
    /* background-color: lightblue; */
    display: flex;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    /* justify-content: space-between; */
    justify-content: space-around;
    align-items: center;
}

.logo img{
    width: 250px;
    margin: 10px 0px 0px 15px;
}
.Main-Nav{
    /* width: 65%; */
    width: 800px;
}

.horizontal-nav{
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: space-around;
}
/* .Main-Nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: space-around;
} */

.Main-Nav ul li a{
   text-align: center;
   text-decoration: none;
   justify-content: center;
   font-size: 1.3rem;
   /* font-size: 1.6vw; */
   font-weight: 600;
   color: black;
   display: inline-block;

}
.login-Cart{
    /* margin: 0px 0px 0px 0px; */
    gap: 1rem;
    display: flex;
    align-items: center;
    /* width: 14%; */
}

.login-Cart a{
    padding: 7px 14px;
    font-size: 2rem;
    color: black;
    font-weight: 600;
}

.heroSection {
    position: relative;
    justify-content: center;
    align-items: center;
}

#video-background{
    width: 100%;
    height: 75vh;
    object-fit: cover;
    z-index: -1;
}
.black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.video-container {
    position: relative;
}

.content {
    position: absolute;
    top: 30%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
    text-align: left;
    z-index: 1;
    color: white;
    width: 80%;
    align-items: center;
}


.content p {
    font-size: 3rem;
    margin-bottom: 6px;
}

.content h1 {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 800;
}

.sidebar{
    position:fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.803);
    backdrop-filter: blur(10);
    display: none;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    transition: all .4s ease-in-out;
}

.sidebar li{
    margin: 20px 0px 0px 50px;
    width: 100%;
    /* background-color: red; */
}

.Menu-btn{
    /* margin: auto; */
    display: none;

}



@media screen and (max-width: 900px){
    .horizontal-nav{
        display: none;
    }
    .Menu-btn{
        display: block;
        margin-right: 2rem;
    }
    .login-Cart{
        margin: 0px 50px 0px 50px;
        width: 500px;
        justify-content: space-around;
    }
    .content p{
        font-size: 35px;
    }
}

@media screen and (max-width: 550px){
    .login-Cart{
        margin: 0px 0px 0px -6px;
        gap: 0px;
    }
    .login-Cart a{
        font-size: 1.5rem;
    }
    
    .content h1{
        font-size: 36px;
    }
    .content p{
        font-size: 25px;
    }
}
