*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    font-family:Roboto, sans-serif;
    position: relative;
}

/*nav Section*/

nav{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    justify-content: space-around;
    align-items: center;
}

.logo img{
    width: 250px;
    margin: 10px 0px 0px 15px;
}
.Main-Nav{
    /* width: 65%; */
    width: 800px;
}

.horizontal-nav{
    margin-left: 30%;
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: space-around;
}
/* .Main-Nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: space-around;
} */

.Main-Nav ul li a{
   text-align: center;
   text-decoration: none;
   justify-content: center;
   font-size: 1.3rem;
   font-weight: 600;
   color: black;
   display: inline-block;

}
.login-Cart{
    gap: 1rem;
    display: flex;
    align-items: center;
}

.login-Cart a{
    padding: 7px 14px;
    font-size: 2rem;
    color: black;
    font-weight: 600;
}

/* hero section or welcome */

.heroSection {
    position: relative;
    justify-content: center;
    align-items: center;
}

#video-background{
    width: 100%;
    height: 75vh;
    object-fit: cover;
    z-index: -1;
    margin-top: 60px;
}
.black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.video-container {
    position: relative;
}

.content {
    position: absolute;
    top: 30%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
    text-align: left;
    z-index: 1;
    color: white;
    width: 80%;
    align-items: center;
}


.content p {
    font-size: 3rem;
    margin-bottom: 6px;
}

.content h1 {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 800;
}

.sidebar{
    position:fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.803);
    backdrop-filter: blur(10);
    display: none;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    transition: all .4s ease-in-out;
}

.sidebar li{
    margin: 20px 0px 0px 50px;
    width: 100%;
}

.Menu-btn{
    display: none;

}
/*Other section of home page*/

.other-section{
    height: auto;
    text-align: center;
    display: flex;
}

/* adoption section start from here */

.adopt-section{
    height: auto;
    margin: 15px;
   padding-top: 30px;
    text-align: center;
    border: 2px solid black;
    width: 100%;
}
.adopt-section h1{
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-align: center;
    height: 55px;
    background-color: beige;
}

.adopt-section a{
    text-decoration: none;
    color: black;
}

.Dog-img{
    margin-top: -5px;
    width: 40%;
    justify-content: center;
    float: left;
}

.Dog-img img{
    height: 250px;
    position: absolute;
}

.hover-image{
    opacity: 0;
}
.Content{
    width: 55%;
    box-sizing: border-box;
    padding: 10px;
    color: black;
    text-align: center;
    align-content: center;
    height: 230px;
    margin-top: 20px;
    float: right;
    font-size: 2.1rem;
    font-weight: 600;
    
}
.adopt-section:hover .original-image {
    opacity: 0;
}

.adopt-section:hover .hover-image {
    opacity: 1;
}

/* treanding product section  */
#trending-product{
    margin: 5px 15px 10px 15px;
    border: 2px solid black;
}

#products {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.box {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
}

.imgbox {
    width: 100%;
    margin-bottom: 10px;
}

.product-img {
    max-width: 100%;
    height: 25vh;
    object-fit: contain;
}

.product-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    color: #333;
    margin-right: 15%;
}

.add-cart {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.add-cart:hover {
    background-color: #439247;
}

#trending-product h1{
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-align: center;
    height: 55px;
    background-color: beige;
    margin-top: 20px;
    margin-bottom: 30px;
}

#trending-product a{
    justify-content: center;
    display: flex;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
}

/* Tranning Section  */

.training-box {
    height: auto;
    text-align: center;
    display: flex;
}

.training-section {
    height: auto;
    margin: 15px;
    padding-top: 30px;
    text-align: center;
    border: 2px solid black;
}

.training-section h1 {
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-align: center;
    height: 55px;
    background-color: beige;
}

.training-section a {
    text-decoration: none;
    color: black;
}

.Training-section-Content {
    width: 45%;
    box-sizing: border-box;
    color: black;
    text-align: center;
    align-content: center;
    height: 230px;
    margin-top: 20px;
    float: left;
    font-size: 2rem;
    font-weight: 600;
    padding: 25px;
}

.Training-Video {
    width: 40%;
    justify-content: center;
    float: right;
    position: relative;
    height: 320px;
    overflow: hidden;
}

.Training-Video video {
    width: 95%;
    height: 95%;
    object-fit: cover;
    position: absolute;
    /* top: 0; */
    left: 0;
    border: 3px solid black;
    border-radius: 40px;
    margin: 5px;
}

/* Dog care/health */
/*same class name as adopt*/

/* footer  */
/* 
.site-footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
}

.container{
    height: 100%;
    width: 80%;
    justify-content: space-between;
}

.Footer-list{
    display: inline-block;
}
.quick-link{
    width: 30%;
    height: 150px;
    padding-top: 200px;
    margin: 10%;
    text-align: justify;
}
.quick-link a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.Footer-About-Us-Section{
    width: 45vb;
    text-align: justify;
    height: 150px;
}

.Footer-About-Us-Section img{
    height: 250px;
    width: 250px;
    margin: 0px 0px -50px 8%;
}

.site-footer h3 {
    text-align: center;
    color: #fff;
    margin: 10px;
} */


footer{
    width: 100%;
    bottom: 0;
    /* background: linear-gradient(to right, #00093c, #2d0b00); */
    background-color: rgb(82, 82, 82);
    color: #fff;
    padding: 80px 0 25px;
    border-top-left-radius: 120px;
    font-size: 18px;
    line-height: 20px;

}

.col img{
    height: 100px;
    width: 250px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.col{
    flex-basis: 30%;
    padding: 10px;

}

.logo{
    width: 80px;
    margin-bottom: 20px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.emlil{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}


ul li a{
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
}

ul li{
    list-style: none;
}


@media screen and (max-width: 900px){
    .horizontal-nav{
        display: none;
    }
    .Menu-btn{
        display: block;
        margin-right: 2rem;
    }
    .login-Cart{
        margin: 0px 50px 0px 50px;
        width: 500px;
        justify-content: space-around;
    }
    .content p{
        font-size: 35px;
    }
    .Content{
        font-size: 1.4rem;
    }
}


@media screen and (max-width: 550px){
    .login-Cart{
        margin: 0px 0px 0px -6px;
        gap: 0px;
    }
    .login-Cart a{
        font-size: 1.5rem;
    }
    
    .content h1{
        font-size: 36px;
    }
    .content p{
        font-size: 25px;
    }
    .Content{
        float: none;
        margin-top: 200px;
        font-size: 1.4rem;
        justify-content: center;
        width: 100%;
    }

    #trending-product h1{
        font-size: 2rem;
    }

    .training-section h1{
        font-size: 2rem;
    }

    .Training-section-Content {
        float: none;
        margin-top: -50px;
        font-size: 1.3rem;
        justify-content: center;
        width: 100%;
    }
    
    .Training-Video {
        width: 100%;
        margin-top: -50px;

    }
    @media screen and (max-width: 500px){
.logo img{
    margin: 0;
    width: 210px;
}

}
